extends layout
block content
  h1.azblue cjoakim-webapp-node-m26

  table(border='0', width='100%', align='center')
    tr
      td
        img(src='img/azure.png')
    tr
      td= current_date
    tr
      td &nbsp;
